<<<<<<< HEAD
<%- include("partials/header") %>
=======
<%- include('./partials/header') %>

>>>>>>> 778d2e0f65bd6ea6d37abb43766aa25fc27f64f3
<p>
	<strong>TICKET NUMBERS BOOKED</strong>
</p>

<% ticket_array.forEach(function(ticket){ %>
		<p>
			<%=ticket%>
		</p>
			
<% }); %>

<<<<<<< HEAD
<%- include("partials/footer") %>
=======
<%- include('./partials/footer') %>
>>>>>>> 778d2e0f65bd6ea6d37abb43766aa25fc27f64f3
