<%- include('./partials/header') %>

<div class="login-box">
<p>
	<h1>Review your journey details<br></h1>
</p>
</div>

<div class="login-box">
<p>
Bus: <strong><%=rest[0].bus_name1%></strong>
</p>
</div>
<div class="login-box">
<p>
From: <strong><%=rest[0].start_route1%></strong>
</p>
</div>
<div class="login-box">
<p>
To: <strong><%=rest[0].end_route1%></strong>
</p>
</div>
<div class="login-box">
<p>
Number of tickets: <strong><%=rest[0].no_of_ppl1%></strong>
</p>
</div>
<div class="login-box">
<p>
Amount to be paid: <strong><%=rest[0].amount%></strong>
</p>
</div>

<div class="login-box">
<form action="/show" method="post">
	<h2>Payment methods</h2>
	<p class="login-box"><button class="btn btn-lg btn-dark">Google Pay</button></p>
	<p class="login-box"><button class="btn btn-lg btn-dark">Debit Card</button></p>
	<p class="login-box"><button class="btn btn-lg btn-dark">Credit Pay</button></p>
	<p class="login-box"><button class="btn btn-lg btn-dark">PhonePe</button></p>
</form>
</div>

<%- include('./partials/footer') %>


	
