<<<<<<< HEAD
<%- include("partials/header") %>
=======
<%- include('./partials/header') %>

>>>>>>> 778d2e0f65bd6ea6d37abb43766aa25fc27f64f3
<h1>
	TICKET DETAIL
</h1>
<p>
Bus: <strong><%=rest[0].bus_name1%></strong>
</p>
<p>
From: <strong><%=rest[0].start_route1%></strong>
</p>
<p>
To: <strong><%=rest[0].end_route1%></strong>
</p>
<p>
Number of tickets: <strong><%=rest[0].no_of_ppl1%></strong>
</p>
<p>
Ticket number: <strong><%=ticket_number%></strong>
</p>
<p>
Date(MM/DD/YY):  <strong><%=time%></strong>
</p>

<<<<<<< HEAD
<%- include("partials/footer") %>
=======
<%- include('./partials/footer') %>
>>>>>>> 778d2e0f65bd6ea6d37abb43766aa25fc27f64f3
